.header {
   background-color: #d9ab91; 
   font-family: "Protest Revolution", sans-serif;
   font-weight:400;
   font-style: normal;
   color: white;
   padding-top: 10px;
   height: 20vh
  
    }
.navbar-nav{
    flex-direction: row;  
    gap: 10px;
}
.navRow {
   justify-content: center;
}