.imgCard {
    padding: 20px;
    border: none;
}
.img {
    border-radius: 20%;
}
.aboutTitle {
height: 20%;
padding: 20px;
background-color: #aabfb1 ;
border-radius: 2%;
margin-top: 2vh;
font-family: "Protest Revolution", sans-serif;
color: white;
}
.aboutBio {
padding: 10px;
}
.quote {
    font-style: italic;
}