.portfolio {
    height: 80%;
    padding: 20px;
    background-color: #aabfb1 ;
    border-radius: 2%;
    margin-top: 2vh;
    font-family: "Protest Revolution", sans-serif;
    color: white;
    }
h2 {
    padding: 40px 0;
}
h3 {
    padding: 10px 0 20px 0;
}

.appImg{
    max-height: 240px;
}

.cardStyle{
    margin: 40px 60px ;
    border-radius: 10%;
    border: 5px solid #876d37;
    background-color: #e6ddd3;
}